/*-------------------
| Main configuration
---------------------*/
:root{
    --yellow : #ffc107 ;
}


html {
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

section{
    height: 100vh;
}

@media screen and (max-width: 768px){
    section{
        height: fit-content !important;
    }
}


/*-------------------
| SHORTCUTS
---------------------*/

/* Sizes */
.w-110{
    width: 110% !important;
}
.w-120{
    width: 110% !important;
}

.p-6{
    padding:4rem!important
}

/* Shapes */
.circle{
    border-radius:100%;
    width: 100%;
    padding-top: 100%;
}

.translate-center{
    transform:  translate(-50%,-50%);
}

.w-fit-content{
    width: fit-content !important;
}

.h-fit-content{
    height: fit-content !important;
}


/*Text*/
.no-break{
    white-space: nowrap;
}

.list{
    list-style: none;
    padding:0;
}


.z-index-2{
    z-index: 2;
}
/*-------------------
| Custom Styling
---------------------*/

/* Override Slick*/
.slick-list{
    overflow: unset;
    overflow-x: clip;
    overflow-y: unset;

}

/*Overriding bootstrap behaviour*/

@media (min-width: 768px) {
    .g-md-6,
    .gx-md-6 {
        --bs-gutter-x: 7rem;
      }

}

  /* CUSTOM WIDTHS */
.w-10, .w-xs-10 { width: 10%!important; }
.w-15, .w-xs-15 { width: 15%!important; }
.w-20, .w-xs-20 { width: 20%!important; }

/* BREAKPOINTS */

/* SM breakpoint */
@media (max-width: 576px) {
    /* CUSTOM WIDTHS */
    .w-sm-10 { width: 10%!important; }
    .w-sm-15 { width: 15%!important; }
    .w-sm-20 { width: 20%!important; }
    .w-sm-50 { width: 50%!important; }
    .w-sm-75 { width: 75%!important; }
    .w-sm-80 { width: 80%!important; }
}

/* MD breakpoint*/
@media (max-width: 768px) {
    /* CUSTOM WIDTHS */
    .w-md-10 { width: 10%!important; }
    .w-md-15 { width: 15%!important; }
    .w-md-20 { width: 20%!important; }
    .w-md-50 { width: 50%!important; }
    .w-md-60 { width: 60%!important; }
    .w-md-75 { width: 75%!important; }
}

/* LG breakpoint */
@media (min-width: 992px) {
    /* CUSTOM WIDTHS */
    .w-lg-10 { width: 10%!important; }
    .w-lg-15 { width: 15%!important; }
    .w-lg-20 { width: 20%!important; }
}

  /* Nav */

  nav{
    transition: all 0.5s ease;
  }

  .nav-floating{
      box-shadow: 0px 0px 8px #00000038;
      background-color: white !important;
  }

/*HERO*/
body {
    background: rgb(255,204,0);
    background: linear-gradient(0deg, rgba(255,204,0,0) 79%, rgba(255,204,0,0.30645161290322576) 100%);
}

.hero-image{
    z-index:10;
    transform: translate(-50%,-50%);
}

.hero-image-background{
    
}



.circle-1{
    display: block;
    width: 100%;
    height: 100%;
    transform:translate(0%,0%);
    position: absolute;
    top: 0%;
    border: 1px solid rgba(255, 255, 0, 0.877);
    border-radius:100%;
    animation-name: circle1;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.circle-2{
    display: block;
    width: 100%;
    height: 100%;
    transform:translate(0%,0%);
    position: absolute;
    top: 0%;
    border: 1px solid rgba(255, 255, 0, 0.89);
    border-radius:100%;
    animation-name: circle1;
    -webkit-animation-duration: 1s;
    animation-delay: 0.6s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes circle1 {
    0%{
        transform:translate(0%,0%);
        width: 100%;
        height: 100%;
        opacity: 1;
    }

    70%{
        opacity: 0.6;
    }
    
    100%{
        transform:translate(-16%,-16%);
        width: 150%;
        height: 150%;
        opacity:0;
    }
}

.hero-floating-ingredient{
    position:absolute;
    width: 70px;
}

.hero-floating-ingredient-1{
    top:0;

    animation-name: floating-ingredient;
    -webkit-animation-duration: 1s;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
 

.hero-floating-ingredient-2{
    top:0;
    right:0;

    animation-name: floating-ingredient-2;
    -webkit-animation-duration: 1s;
    animation-duration: 4s;
    animation-delay: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}


.hero-floating-ingredient-3{
    transform-origin: center center;
    animation-name: floating-ingredient-2;
    -webkit-animation-duration: 1s;
    animation-duration: 4s;
    animation-delay: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    bottom:0;
    right:0;
}
.hero-floating-ingredient-4{
    motion-path: path("m95.88017,163.52735c14.70582,-1.17647 -0.58823,44.70569 -13.52935,25.29401c-12.94112,-19.41168 -1.17647,-24.11754 13.52935,-25.29401z");
    offset-path:path("m95.88017,163.52735c14.70582,-1.17647 -0.58823,44.70569 -13.52935,25.29401c-12.94112,-19.41168 -1.17647,-24.11754 13.52935,-25.29401z");
    transform-origin: center center;
   
motion-rotation:initial;
    animation-name: floating-ingredient-4;
    -webkit-animation-duration: 1s;
    animation-duration: 4s;
    animation-delay: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    bottom:10%;
    left:0;
}
@keyframes floating-ingredient-4{

    100%{
        motion-offset: 100%;
        offset-distance: 100%;
    }

}

@keyframes floating-ingredient{
    20%{
        transform:translate(-10px,30px)   
      }
      50%{
        transform:translate(-20px,20px)   
      }
      70%{
        transform:rotate(5deg) translate(-21px,19px)   
      }
      80%{
        transform:rotate(4deg)  translate(-26px,20px)   
      }
}

@keyframes floating-ingredient-2{
    20%{
        transform:translate(5px,5px)   
      }
    
      70%{
        transform:rotate(-5deg) translate(0px,0px)   
      }

       
      75%{
        transform:rotate(-5deg) translate(0px,0px)   
      }

    

}

@keyframes floating-ingredient-3{
     20%{
        transform:rotate(-5deg) translate(5px,2px)   
      }
    
      70%{
        transform:rotate(0deg) translate(0px,0px)   
      }

    
      80%{
        transform: rotate(-10deg) translate(4px,4px)   
      }


}


/*--------------------------------
|    SECTION SEPRATOR
----------------------------------*/

.section-separator{
    overflow-x: clip;
    height: 1px;
    position: relative;
}

.section-separator img{
    max-width: 350px;
    position: absolute;
    top: 0; 
}

.section-separator-right img{
    transform: translate(50%,-50%);
    right: 0 !important;
}

.section-separator-left img{
    transform: translate(-50%,-50%);
    left:0;
}


@media (max-width: 765px) {
    .section-separator{
        filter: blur(3px);
        width: 40% !important;
    }
}



/*--------------------------------
| Features Categories
--------------------------------*/
.features-card-container{
    perspective: 800px;
}

.card-image{
    margin-top:-40%;
    transition:all 0.3s ease;
}

.features-card{
    box-shadow: 0px 0px 47px -8px #ffc23d79;
    padding: 3.5rem;
    border:1px solid rgba(0, 0, 0, 0.014);
    border-top: 0px;
    border-right:0px ;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: all 0.5s ease;
}

.features-card:hover{
    box-shadow: -10px 10px 47px -8px #ffc23d79;
    transform: rotate3d(1, 1, 1, 6deg);
    border: 1px solid #c7c7c74f;
    border-top:0px;
    border-right:0px;

}

@media screen and (max-width: 320px){
    .features-card{
        padding: 1.3rem;
    }
}


.features-card:hover > .card-image{
    box-shadow: -1px 1px 2px #0000006b;
    transform:translate(2px, -2px);
}

.card-image img{
    transition: all 0.3s ease;
}

.features-card:hover > .card-image img{
    transform: scale(1.1) translate(-44%,-50%);
}


/* Mobile Features */
.mobile-features-card-container{
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.2) 100%),  url(../../assets/images/family.jpg);
    background-size: cover;
    background-position: top;
    background-color: var(--yellow);
}

/*Testimonial Section*/
.testimonial-image{
    background-image: url(../../assets/images/guy-like.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size:contain;
}

.testimonial-text{
    animation-duration:3s;
    animation-name:fadeInOut;
}

.testimonial-quote-icons  > img{
    transition: all 0.5s ease;
    animation-name:movequote;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

.testimonial-quote-icons > img:nth-child(2){
    animation-delay: 0.1s;
}

@keyframes movequote {
    0%{
        transform:translateY(0px);
    }

    5%{
        transform:translateY(-10px);
    }
    
    7%{
        transform:translateY(0px);
    }

    
}
